html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: $normal;
    font-size: 1.6rem;
    background-color: $Light-grayish-cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
p {
    font-size: 1.6rem;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: $White;
    border-radius: 2rem;
    height: auto;
    padding: 3rem;

    @include tablet {
        @include grid(2, 4rem);
        height: auto;
        margin: 10rem auto;
    }
}

img {
    max-width: 100%;
}

input {
    font-size: 2.4rem;
    background-color: $Light-grayish-cyan;
    display: block;
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: $Dark-cyan;
}
label {
    font-size: 2rem;
    color: $Dark-grayish-cyan;
    font-weight: 500;
    font-weight: bold;
}
