.tc {
    text-align: center;
}

.d-none {
    display: none;
}
.d-block {
    display: block;
}
.btn {
    display: block;
    padding: 0.7rem 1rem;
    transition: all 0.3s ease-in-out;
    font-size: 2.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    &:hover {
        cursor: pointer;
    }
}

.btn__tip {
    background-color: $Dark-cyan;
    color: $White;
    &:hover {
        background-color: $blue;
        color: $Dark-cyan;
    }
    @include tablet {
        width: 100%;
    }
}
.btn__total {
    color: $Dark-cyan;
    background-color: $blue;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $Light-grayish-cyan;
    }
    @include tablet {
        margin-top: 3rem;
    }
}
.correct {
    border: 1px solid $blue;
}
.error {
    border: 1px solid rgb(248, 113, 59);
}
.active {
    background-color: $blue;
    color: $Dark-cyan;
}
